@model List<Categoria>


<li id="menu" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
    </a>

    <ul id="nav" class="dropdown-menu" aria-labelledby="navbarMenu">
        @foreach (var c in Model)
        {
            <li>
                <a href="@Url.Action(c.Nombre,"Categoria")" class="dropdown-item">@c.Nombre</a>

                @if (c.SubCategorias != null)
                {

                    <ul class="dropdown-menu" aria-labelledby="navbarMenu">


                        @foreach (var sub in c.SubCategorias)
                        {
                            <li>

                                <a href="#" class="dropdown-item">@sub.Nombre</a>
                            </li>
                        }
                    </ul>
                }


            </li>


        }
    </ul>
</li>