@{
    ViewData["Title"] = "Home Page";
    @model List<Producto>
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Tienda Inglesa</h1>
    <p>Nuestros Productos</p>
</div>

@foreach(Producto p in Model) {

        <div>
            <p>@p.NombreProducto</p>
            <p>@p.Descripcion</p>
            <p>@p.Precio</p>
        </div>
    }

